html > * {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'belock';
    src: url('/src/css/font/Sportrop.ttf');
}
// Font created by http://www.glukfonts.pl/

@keyframes glow {
    0%   {text-shadow: 0 0 30px rgba(255, 163, 0, 1), .3vmin .5vmin rgba(255, 163, 0, 1)}
    50%  {text-shadow: 0 0 20px rgba(255, 163, 0, .7), .3vmin .5vmin rgba(255, 163, 0, .5)}
    100% {text-shadow: 0 0 30px rgba(255, 163, 0, 1), .3vmin .5vmin rgba(255, 163, 0, 1)}
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    #app{
        height: 100%;
        width: 100%;
        .app {
            height: 100%;
            width: 100%;
            &__header{
                display: flex;
                align-items: center;
                justify-content: start;
                height: 20%;
                width: 100%;
                box-sizing: border-box;
                border-bottom: solid #fbea46;
                &-name{
                    display: flex;
                    justify-content: flex-start;
                    padding-left: 2vmax;
                    padding-bottom: 1vmax;
                    align-items: center;
                    height: 100%;
                    font-size: 8vmax;
                    color: #fbea46;
                    font-family: belock;
                    box-sizing: border-box;
                    animation: glow 2s infinite;
                }
            }
            &__clock{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                height: 12vmax;
                &-space {
                    width: .5%;
                }
                &-bigSpace{
                    width: 3%;
                }
                &-one, &-two, &-three, &-four, &-five, &-six{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 6%;
                }
            }
        }      
    }
      
}
